**/.git
**/.svn
**/.hg
**/node_modules
**/dist/**

/venv/
**/venv
/.venv/
**/.venv

pnpm-lock.yaml
.changeset/
cdn

fixtures
packages/openapi-parser/tests/files
packages/openapi-parser/tests/**/*.yaml
packages/openapi-parser/tests/**/*.json